In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import seaborn as sns

In [8]:
df_ratings = pd.read_csv('./data/ratings.csv')
df_movie = pd.read_csv('./data/movies.csv')
df = pd.merge(df_ratings, df_movie, left_on='movieId', right_on='movieId', how='left')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [9]:
rating_matrix = df.pivot_table(index=['movieId'],columns=['userId'],values='rating')
rating_matrix = rating_matrix.fillna(0)
rating_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,4.0,5.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
movie_similarity = cosine_similarity(rating_matrix)
df_movie_similarity = pd.DataFrame(movie_similarity, index=rating_matrix.index, columns=list(rating_matrix.index))
df_movie_similarity

,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.394511,0.306516,0.133614,0.245102,0.377086,0.278629,0.063031,0.117499,0.310689,...,0.055829,0.031902,0.079755,0.079755,0.079755,0.079755,0.079755,0.0,0.0,0.055829
2,0.394511,1.000000,0.217492,0.164651,0.278476,0.222003,0.207299,0.223524,0.113669,0.418124,...,0.000000,0.055038,0.068797,0.082557,0.082557,0.137594,0.068797,0.0,0.0,0.000000
3,0.306516,0.217492,1.000000,0.177012,0.370732,0.247499,0.435648,0.127574,0.306717,0.191255,...,0.000000,0.000000,0.000000,0.116226,0.116226,0.000000,0.000000,0.0,0.0,0.000000
4,0.133614,0.164651,0.177012,1.000000,0.179556,0.072518,0.184626,0.501513,0.254630,0.111447,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
5,0.245102,0.278476,0.370732,0.179556,1.000000,0.272645,0.388476,0.194113,0.367941,0.246846,...,0.000000,0.176845,0.000000,0.117897,0.117897,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161944,0.079755,0.137594,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.000000
162376,0.079755,0.068797,0.000000,0.000000,0.000000,0.111103,0.000000,0.000000,0.000000,0.076835,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000
162542,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000
162672,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000
163949,0.055829,0.000000,0.000000,0.000000,0.000000,0.061724,0.079399,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000

In [11]:
user_input = 'Jumanji (1995)'
movie_id = df[df['title']==user_input]['movieId'].values[0]
df_movie_reccomend = df_movie_similarity[[movie_id]].sort_values(by=2, ascending=False).reset_index(drop=False)
df_movie_reccomend = pd.merge(df_movie_reccomend, df_movie)
df_movie_reccomend.head(15)

,movieId,2,title,genres
0,2,1.000000,Jumanji (1995),Adventure|Children|Fantasy
1,500,0.546348,Mrs. Doubtfire (1993),Comedy|Drama
2,364,0.530357,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
3,317,0.505831,"Santa Clause, The (1994)",Comedy|Drama|Fantasy
4,367,0.494605,"Mask, The (1994)",Action|Comedy|Crime|Fantasy
5,595,0.494124,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
6,588,0.493995,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
7,344,0.475673,Ace Ventura: Pet Detective (1994),Comedy
8,587,0.474787,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
9,480,0.471624,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
10,377,0.470265,Speed (1994),Action|Romance|Thriller
11,586,0.466820,Home Alone (1990),Children|Comedy
12,158,0.464006,Casper (1995),Adventure|Children
13,292,0.453669,Outbreak (1995),Action|Drama|Sci-Fi|Thriller
14,185,0.444856,"Net, The (1995)",Action|Crime|Thriller